[submodule "pxe"]
	path = pxe
	url = https://github.com/maxenced/puppet-pxe.git
[submodule "apache"]
	path = apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/puppetlabs/puppetlabs-dashboard.git
[submodule "nfs"]
	path = nfs
	url = https://github.com/maxenced/puppet-nfs.git
[submodule "puppetdb"]
	path = puppetdb
	url = https://github.com/maxenced/puppetdb.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/maxenced/puppet-postgresql.git
[submodule "inifile"]
	path = inifile
	url = https://github.com/cprice-puppet/puppetlabs-inifile.git
[submodule "inriadoc"]
	path = inriadoc
	url = ssh://root@puppet.bonfire.grid5000.fr/etc/puppet/modules_inria/inriadoc
